.alerts {
    margin-bottom: 25px;
    width: 100%;
    grid-area:error;
    padding: 20px;
    color: white;
    border-radius: 15px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 35px 1fr 35px;
    grid-template-areas: 'icon text close';
    grid-gap:15px;
    align-items: center;
   // transition: all 0.5s ease-in-out;
img{
    grid-area: icon;
    width: 32px;
    height: 32px;
}
}
 
.alert-error {
    background-color: #f44336;
}
.alert-success{
    background-color: #4CAF50;
}
.closebtn {
    grid-area: close;
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
   
  }
  
  .closebtn:hover {
    color: black;
  }

  .alert-messeage{
      grid-area: text;
  }